<div class="row-bottom">
  <% if (controller.controller_name == 'applicants' && controller.action_name == 'new') || (controller.controller_name == 'dashboards' && controller.action_name == 'index') || (controller.controller_name == 'applicants' && controller.action_name == 'create') %>
    <h2 class="detail-title">Education<span><%= link_to 'Edit', new_user_education_path(user), class: 'float-right' %></span></h2>
  <% else %>
    <h2 class="detail-title">Education</h2>
  <% end %>
  <% if user.educations.present? %>
    <ul class="trim-edu-list">
      <% user.educations.order(finished_year: :desc).each do |education| %>
        <li>
          <div class="trim-edu">
            <h4 class="trim-edu-title"><%= education.institution_name %><span class="title-est"><%= education.finished_year ? "Course Finished Year: #{education.finished_year}" : "Expected Finish Time: #{education.expected_finished_month}  #{education.expected_finished_year}" %></span></h4>
            <h5 class="trim-edu-title"><%= education.course_name %></h5>
            <strong></strong>
            <p><%= education.course_highlights %></p>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No Education Added.</p>
  <% end %>
</div>

<div class="row-bottom">
  <% if (controller.controller_name == 'applicants' && controller.action_name == 'new') || (controller.controller_name == 'dashboards' && controller.action_name == 'index') || (controller.controller_name == 'applicants' && controller.action_name == 'create') %>
    <h2 class="detail-title">Work Experience<span><%= link_to 'Edit', new_user_work_experience_path(user), class: 'float-right' %></span></h2>
  <% else %>
    <h2 class="detail-title">Work Experience</h2>
  <% end %>
  <% if user.work_experiences.present? %>
    <ul class="trim-edu-list">
      <% user.work_experiences.order(start_year: :desc).each do |work_experience| %>
        <li>
          <div class="trim-edu">
            <h4 class="trim-edu-title">
              <%= work_experience.company_name %>
                <% if work_experience.still_in_role %>
                  <span class="title-est"><%= "#{work_experience.start_year} (#{work_experience.start_month}) - Present" %></span>
                <% else %>
                  <span class="title-est"><%= "#{work_experience.start_year} (#{work_experience.start_month}) - #{work_experience.finish_year} (#{work_experience.finish_month})" %></span>
                <% end %>
            </h4>
            <strong><%= work_experience.job_title %></strong>
            <p><%= work_experience.description %></p>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No Work Experience Added.</p>
  <% end %>
</div>
