<div class="col-lg-9 col-md-8">
  <div class="dashboard-body">
    <div class="dashboard-caption">

      <div class="dashboard-caption-header">
      </div>

      <div class="dashboard-caption-wrap">
        <section class="detail-desc">
          <div class="container">

            <div class="ur-detail-wrap top-lay">

              <div class="ur-detail-box">

                <div class="ur-thumb">
                  <% if @user.avatar.attached? %>
                    <%= image_tag @user.avatar, class: 'img-responsive', alt: 'User Avatar' %>
                  <% else %>
                    <%= image_tag 'https://via.placeholder.com/150', class: 'img-avater' %>
                  <% end %>
                </div>
                <div class="ur-caption">
                  <h4 class="ur-title">Daniel Diwards</h4>
                  <p class="ur-email"><i class="ti-email mrg-r-5"></i><%= @user.email %></p>
                  <% if @user.phone_no.present? %>
                    <p class="ur-phone"><i class="ti-mobile mrg-r-5"></i><%= @user.phone_no %></p>
                  <% end %>
                  <% applicant = @job.applicants.find_by(job_id: @job.id, user_id: @user.id) %>
                  <% if applicant.shortlisted? %>
                    <div class="shortlisted-can">shortlisted</div>
                  <% elsif applicant.rejected? %>
                    <div class="rejected-can">rejected</div>
                  <% end %>
                </div>
              </div>

              <div class="ur-detail-btn">
                <%= link_to shortlist_job_applicant_path(@job, @user, redirect_back: :job_applicant_path), class: 'btn btn-warning mrg-bot-10 full-width' do %>
                  <i class='ti-check marg-r-5'>Shortlist</i>
                <% end %>
                <% if @resume.present? %>
                  <%= link_to download_resume_job_applicant_path(@job, @user, redirect_back: :job_applicant_path), class: 'btn btn-info full-width' do %>
                    <i class='ti-download marg-r-5'>Download Resume</i>
                  <% end %>
                <% else %>
                  <%= link_to download_resume_job_applicant_path(@job, @user, redirect_back: :job_applicant_path), class: 'btn btn-info full-width disabled' do %>
                    <i class='ti-download marg-r-5'>No Resume Found</i>
                  <% end %>
                <% end %>
              </div>

            </div>

          </div>
        </section>
        <!-- Candidate Detail End -->

        <!-- Candidate full detail Start -->
        <section class="full-detail-description full-detail">
          <div class="container">
            <div class="row">

              <div class="col-lg-8 col-md-8">

                <div class="row-bottom">
                  <h2 class="detail-title">Education</h2>
                  <% if @user.educations.present? %>
                    <ul class="trim-edu-list">
                      <% @user.educations.each do |education| %>
                        <li>
                          <div class="trim-edu">
                            <h4 class="trim-edu-title"><%= education.institution_name %><span class="title-est"><%= education.finished_year ? "Course Finished Year: #{education.finished_year}" : "Expected Finish Time: #{education.expected_finished_month}  #{education.expected_finished_year}" %></span></h4>
                            <h5 class="trim-edu-title"><%= education.course_name %></h5>
                            <strong></strong>
                            <p><%= education.course_highlights %></p>
                          </div>
                        </li>
                      <% end %>
                    </ul>
                  <% else %>
                    <p>No Education Added.</p>
                  <% end %>
                </div>

                <div class="row-bottom">
                  <h2 class="detail-title">Work Experience</h2>
                  <% if @user.work_experiences.present? %>
                    <ul class="trim-edu-list">
                      <% @user.work_experiences.each do |work_experience| %>
                        <li>
                          <div class="trim-edu">
                            <h4 class="trim-edu-title"><%= work_experience.company_name %><span class="title-est"><%= "#{work_experience.start_year} - #{work_experience.finish_year || 'Present'}" %></span></h4>
                            <strong><%= work_experience.job_title %></strong>
                            <p><%= work_experience.description %></p>
                          </div>
                        </li>
                      <% end %>
                    </ul>
                  <% else %>
                    <p>No Work Experience Added.</p>
                  <% end %>
                </div>

              </div>

              <div class="col-lg-4 col-md-4">
                <div class="full-sidebar-wrap">

                  <!-- Candidate overview -->
                  <div class="sidebar-widgets">

                    <div class="ur-detail-wrap">
                      <div class="ur-detail-wrap-header">
                        <h4>Quick Actions</h4>
                      </div>
                      <div class="ur-detail-wrap-body">
                        <ul class="ove-detail-list">
                          <li>
                            <% if @resume.present? %>
                              <%= link_to download_resume_job_applicant_path(@job, @user, redirect_back: :job_applicant_path), class: 'btn btn-info full-width' do %>
                                <i class='ti-download marg-r-5'>Download Resume</i>
                              <% end %>
                            <% else %>
                              <%= link_to download_resume_job_applicant_path(@job, @user, redirect_back: :job_applicant_path), class: 'btn btn-info full-width disabled' do %>
                                <i class='ti-download marg-r-5'>No Resume Found</i>
                              <% end %>
                            <% end %>
                          </li>
                          <li>
                            <% if @cover_letter.present? %>
                              <%= link_to download_cover_letter_job_applicant_path(@job, @user), class: 'btn btn-info full-width' do %>
                                <i class='ti-download marg-r-5'>Download Cover Letter</i>
                              <% end %>
                            <% else %>
                              <%= link_to download_cover_letter_job_applicant_path(@job, @user), class: 'btn btn-info full-width disabled' do %>
                                <i class='ti-download marg-r-5'>No Cover Letter Found</i>
                              <% end %>
                            <% end %>
                          </li>
                          <li>
                            <%= link_to shortlist_job_applicant_path(@job, @user, redirect_back: :job_applicant_path), class: 'btn btn-warning full-width' do %>
                              <i class='ti-check marg-r-5'>Shortlist</i>
                            <% end %>
                          </li>
                          <li>
                            <%= link_to reject_job_applicant_path(@job, @user, redirect_back: :job_applicant_path), class: 'btn btn-warning full-width' do %>
                              <i class='ti-close marg-r-5'>Reject</i>
                            <% end %>
                          </li>

                        </ul>
                      </div>
                    </div>

                  </div>
                  <!-- /Candidate overview -->


                </div>
              </div>

            </div>
          </div>
        </section>
        <!-- company full detail End -->

        <!-- </div> -->
        <!-- row -->

    </div>

  </div>
</div>
</div>
