<!-- Title Header Start -->
<section class="inner-header-title" style="background-image:url(http://via.placeholder.com/1920x850);">
  <div class="container">
    <h1>Browse Jobs</h1>
  </div>
</section>
<div class="clearfix"></div>
<!-- Title Header End -->

<!-- ========== Begin: Brows job ===============  -->
<section>
  <div class="container">
    <!-- Company Searrch Filter Start -->
    <div class="row extra-mrg">
      <div class="wrap-search-filter">
        <%= form_with url: jobs_path, method: :get, local: true do |f| %>
          <div class="col-md-4 col-sm-4">
            <%= f.text_field :title, placeholder: 'Enter Job Title', class: 'form-control' %>
          </div>
          <div class="col-md-3 col-sm-3">
            <%= f.text_field :location, placeholder: 'Enter City Name', class: 'form-control' %>
          </div>
          <div class="col-md-3 col-sm-3">
            <%= f.select :category, Category::LIST.keys.sort, { prompt: '-- Select --' }, class: 'form-control', id: 'j-category' %>
          </div>
          <div class="col-md-2 col-sm-2">
            <%= f.submit 'Filter', class: 'btn btn-primary full-width' %>
          </div>
        <% end %>
      </div>
    </div>
    <!-- Company Searrch Filter End -->

    <% @jobs.each do |job| %>
      <div class="item-click">
        <article>
          <div class="brows-job-list">
            <div class="col-md-6 col-sm-6">
              <div class="item-fl-box">
                <div class="brows-job-company-img">
                  <% if job.created_by_admin? %>
                    <%= image_tag 'https://via.placeholder.com/150', class: 'img-responsive' %>
                  <% elsif job.user.company.logo.attached? %>
                    <%= image_tag job.user.company.logo, class: 'img-responsive' %>
                  <% else %>
                    <%= image_tag 'https://via.placeholder.com/150', class: 'img-responsive' %>
                  <% end %>
                </div>
                <div class="brows-job-position">
                  <h3><%= link_to(job.title, job) %></a></h3>
                  <p>
                  <span>
                    <% if job.created_by_admin? %>
                      <%= job.company_name %>
                    <% else %>
                      <%= job.user.company.name %>
                    <% end %>
                  </span><span class="brows-job-sallery"><i class="fa fa-money"></i><%= job.salary %></span>
                  <span class="job-type cl-success bg-trans-success"><%= job.employment_type %></span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="brows-job-location">
                <p><i class="fa fa-map-marker"></i><%= job.location %></p>
              </div>
            </div>
            <div class="col-md-2 col-sm-2">
              <div class="brows-job-link">
                <a href="job-detail-1.html" class="btn btn-default">Apply Now</a>
              </div>
            </div>
          </div>
          <% if job.created_at.today? %>
            <span class="tg-themetag tg-featuretag">New Job</span>
          <% end %>
        </article>
      </div>
    <% end %>

    <!--/.row-->
    <div class="row">
      <div class="digg_pagination">
        <%= will_paginate @jobs %>
      </div>
    </div>
  </div>
</section>
<!-- ========== Begin: Brows job End ===============  -->
