<div class="col-lg-9 col-md-8">
  <div class="dashboard-body">
    <div class="dashboard-caption">
      <div class="dashboard-caption-header">
        <h4><i class="ti-ruler-pencil"></i>Post New Job</h4>
      </div>
      <div class="dashboard-caption-wrap">
        <%= render 'shared/form_error_message' %>
        <%= form_with model: @job, local: true do |f| %>
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <%= f.label :title, 'Job Title' %>
                <%= f.text_field :title, placeholder: 'Job Title', class: 'form-control', required: true %>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <%= f.label :employment_type, 'Employment Type' %>
                <%= f.select :employment_type, Job::TYPE, { prompt: '-- Select --' }, class: 'form-control', required: true %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <%= f.label :category %>
                <%= f.select :category, Category::LIST.keys.sort, { prompt: '-- Select --' }, class: 'form-control', required: true %>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <%= f.label :location %>
                <%= f.text_field :location, placeholder: 'Job Title', class: 'form-control', required: true %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <%= f.label :min_salary, 'Minimum Salary' %>
                <%= f.text_field :min_salary, placeholder: 'Minimum Salary', class: 'form-control' %>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <%= f.label :max_salary %>
                <%= f.text_field :max_salary, placeholder: 'Maximum Salary', class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class='row'>
            <div class="col-md-12 col-sm-12">
              <%= f.label :description, 'Job Description' %>
              <%= f.rich_text_area :description, placeholder: 'Detailed Job Description', class: 'form-control customized-min-height', required: true %>
            </div>
          </div>
          <div class="row mrg-top-30">
            <div class="col-md-12 col-sm-12">
              <div class="form-group text-center">
                <%= f.submit 'Post Job', class: 'btn-savepreview' %>
              </div>	
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
