<% @title  = "#{@job.title} job in Nepal | Jobs in Nepal" %>
<% if @job.created_by_admin? %>
  <% @description = "#{@job.title} job in Nepal. #{@job.category} job in Nepal. #{@job.company_name} jobs in Nepal." %>
<% else %>
  <% @description = "#{@job.title} job in Nepal. #{@job.category} job in Nepal. #{@job.user.company.name} jobs in Nepal." %>
<% end %>
<!-- Title Header Start -->
<section class="inner-header-title" >
  <div class="container">
    <h1>Job Detail</h1>
  </div>
</section>
<div class="clearfix"></div>
<!-- Title Header End -->

<!-- Candidate Detail Start -->
<section class="detail-desc">
  <div class="container">
    <div class="ur-detail-wrap top-lay">
      <div class="ur-detail-box">
        <div class="ur-thumb">
          <% if @job.created_by_admin? %>
            <%= image_tag '150.png', class: 'img-responsive', alt: 'Company Logo' %>
          <% elsif @job.user.company.logo.attached? %>
            <%= image_tag @job.user.company.logo, class: 'img-responsive', alt: "#{@job.user.company.name} Logo" %>
          <% else %>
            <%= image_tag '150.png', class: 'img-responsive', alt: 'Company Logo' %>
          <% end %>
        </div>
        <div class="ur-caption">
          <h4 class="ur-title"><%= @job.title %></h4>
          <p class="ur-location"><i class="ti-location-pin mrg-r-5"></i><%= @job.location %></p>
          <span class="ur-designation"><i class="ti-home mrg-r-5"></i>
            <% if @job.created_by_admin? %>
              <%= @job.company_name %>
            <% else %>
              <%= @job.user.company.name %>
            <% end %>
         </span>
          <%if @job.expired? %>
            <div>
              <p class='label label-danger'>This Job has Expired.</p>
            </div>
          <% elsif @job.closed? %>
            <div>
              <p class='label label-danger'>This Job has been Closed.</p>
            </div>
          <% end %>
        </div>
      </div>

      <div class="ur-detail-btn">
        <% if current_user && @job.users.include?(current_user) %>
          <%= link_to '#', class: 'btn btn-warning mrg-bot-10 full-width disabled' do %>
            <i class='ti-star mar-r-5'></i>You Already Applied
          <% end %>
        <% elsif !@job.active? %>
          <%= link_to '#', class: 'btn btn-warning mrg-bot-10 full-width disabled' do %>
            <i class='ti-star mar-r-5'></i>Expired Job
          <% end %>
        <% else %>
          <%= link_to new_job_applicant_path(@job), rel: 'noindex', class: 'btn btn-warning mrg-bot-10 full-width' do %>
            <i class='ti-star mar-r-5'></i>Apply
          <% end %>
        <% end %>
        <% if current_user && current_user.bookmarks.where(job_id: @job.id).present? %>
          <%= link_to user_bookmarks_path(current_user, job_id: @job.id), method: :post, class: 'btn btn-info mrg-bot-10 full-width disabled' do %>
            <i class='ti-heart mrg-r-5'></i>Job Alredy Saved
          <% end %>
        <% elsif current_user && !current_user.bookmarks.where(job_id: @job.id).present? %>
          <%= link_to user_bookmarks_path(current_user, job_id: @job.id), method: :post, class: 'btn btn-info mrg-bot-10 full-width' do %>
            <i class='ti-heart mrg-r-5'></i>Save Job
          <% end %>
        <% else %>
          <%# This is hack, if user is not logged in then send user id as 0 %>
          <%= link_to user_bookmarks_path(0, job_id: @job.id), method: :post, rel: 'noindex', class: 'btn btn-info mrg-bot-10 full-width' do %>
            <i class='ti-heart mrg-r-5'></i>Save Job
          <% end %>
        <% end %>
        <% if current_user && !@job.closed_by_admin && @job.active? && @job.user == current_user %>
          <%= link_to close_job_job_path(@job), class: 'btn btn-danger full-width' do %>
            <i class='ti-close mrg-r-5'></i>Close Job
          <% end %>
        <% end %>
        <% if current_user && !@job.closed_by_admin && @job.closed? && @job.user == current_user %>
          <%= link_to reopen_job_job_path(@job), class: 'btn btn-primary full-width' do %>
            <i class='ti-check mrg-r-5'></i>Re-open Job
          <% end %>
        <% end %>
        <% if current_user && current_user.admin? && @job.active? && @job.user != current_user %>
          <%= link_to closed_by_admin_job_path(@job), class: 'btn btn-danger full-width' do %>
            <i class='ti-close mrg-r-5'></i>Close by Admin
          <% end %>
        <% end %>
        <% if current_user && current_user.admin? && @job.closed_by_admin && @job.closed? && @job.user != current_user %>
          <%= link_to reopened_by_admin_job_path(@job), class: 'btn btn-primary full-width' do %>
            <i class='ti-check mrg-r-5'></i>Re-open by Admin
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</section>

<!-- Job full detail Start -->
<section class="full-detail-description full-detail">
  <div class="container">
    <!-- Job Description -->
    <div class="col-md-8 col-sm-12">
      <div class="full-card">
        <% if !@job.created_by_admin? && @job.user.company.description.present? %>
          <div class="row row-bottom mrg-0">
            <h2 class="detail-title">Company Description</h2>
            <p><%= @job.user.company.description %></p>
          </div>
        <% end %>

        <div class="row row-bottom mrg-0">
          <h2 class="detail-title">Job Detail</h2>
          <ul class="job-detail-des">
            <li><span>Salary:</span><%= @job.salary %></li>
            <li><span>Category:</span><%= @job.category %></li>
            <li><span>Job Type:</span><%= @job.employment_type %></li>
            <li><span>Address:</span><%= @job.location %></li>
          </ul>
        </div>

        <div class="row row-bottom mrg-0">
          <h2 class="detail-title">Job Description</h2>
          <p><%= @job.description %></p>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="form-group text-center">
              <% if current_user && @job.users.include?(current_user) %>
                <%= link_to '#', class: 'btn btn-warning disabled' do %>
                  <i class='ti-star mar-r-5'></i>You Already Applied
                <% end %>
              <% elsif !@job.active? %>
                <%= link_to '#', class: 'btn btn-warning disabled' do %>
                  <i class='ti-star mar-r-5'></i>Expired Job
                <% end %>
              <% else %>
                <%= link_to new_job_applicant_path(@job), rel: 'noindex', class: 'btn btn-warning' do %>
                  <i class='ti-star mar-r-5'></i>Apply
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Job Description -->

    <!-- Start Sidebar -->
    <div class="col-md-4 col-sm-12">
      <div class="sidebar right-sidebar">
        <div class="side-widget">
          <h2 class="side-widget-title">Advertisment</h2>
          <div class="widget-text padd-0">
            <div class="ad-banner">
              <%= image_tag '320.png', class: 'img-responsive', alt: 'Advertisment Banner' %>
            </div>
          </div>
        </div>

        <div class="side-widget">
          <h2 class="side-widget-title">Job Overview</h2>
          <div class="widget-text padd-0">
            <div class="ur-detail-wrap">
              <div class="ur-detail-wrap-body padd-top-20">
                <ul class="ove-detail-list">
                  <li>
                    <i class="ti-home"></i>
                    <h5>Company</h5>
                    <span>
                      <% if @job.created_by_admin? %>
                        <%= @job.company_name %>
                      <% else %>
                        <%= @job.user.company.name %>
                      <% end %>
                    </span>
                  </li>
                  <li>
                    <i class="ti-wallet"></i>
                    <h5>Offerd Salary</h5>
                    <span><%= @job.salary %></span>
                  </li>
                  <li>
                    <i class="ti-layers"></i>
                    <h5>Category</h5>
                    <span><%= @job.category %></span>
                  </li>
                  <li>
                    <i class="ti-ink-pen"></i>
                    <h5>Employment Type</h5>
                    <span><%= @job.employment_type %></span>
                  </li>
                  <li>
                    <i class="ti-bag"></i>
                    <h5>Category</h5>
                    <span><%= @job.category %></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="statistic-item flex-middle">
          <div class="icon text-theme">
            <i class="ti-time theme-cl"></i>
          </div>
          <span class="text"><span class="number"><%= time_ago_in_words(@job.created_at) %></span> ago</span>
        </div>

        <div class="statistic-item flex-middle">
          <div class="icon text-theme">
            <i class="ti-zoom-in theme-cl"></i>
          </div>
          <span class="text"><span class="number"><%= @job.views.count %></span> Views</span>
        </div>

        <div class="statistic-item flex-middle">
          <div class="icon text-theme">
            <i class="ti-write theme-cl"></i>
          </div>
          <span class="text"><span class="number"><%= @job.users.count %></span> Applicants</span>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->
  </div>
</section>
<!-- Job full detail End -->

<%if @similar_jobs.present? %>
  <section class="padd-top-20">
    <div class="container">

      <div class="row mrg-0">
        <div class="col-md-12 col-sm-12">
          <h3>Similar Jobs</h3>
        </div>
      </div>
      <div class="row mrg-0">
        <%= render 'home_pages/jobs', jobs: @similar_jobs %>
    </div>
  </section>
<% end %>
