<%= render 'shared/error_messages', object: @user %>
<%= form_with model: @user, local: true do |f| %>
  <div class='row'>
    <div class="col-md-6 col-sm-6">
      <div class="form-group">
        <%= f.label :first_name  %>
        <div class="input-with-icon">
          <%= f.text_field :first_name, placeholder: 'Enter Your First Name', class: 'form-control', required: true %>
          <i class="theme-cl ti-user"></i>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="form-group">
        <%= f.label :last_name  %>
        <div class="input-with-icon">
          <%= f.text_field :last_name, placeholder: 'Enter Your Last Name', class: 'form-control', required: true %>
          <i class="theme-cl ti-user"></i>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class="col-md-6 col-sm-6">
      <div class="form-group">
        <%= f.label :email  %>
        <div class="input-with-icon">
          <%= f.email_field :email, placeholder: 'Enter Your Email', class: 'form-control', required: true %>
          <i class="theme-cl ti-email"></i>
        </div>
      </div>
    </div>
    <% if @user.job_seeker? %>
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <%= f.label :phone_no, 'Phone Number'  %>
          <div class="input-with-icon">
            <%= f.phone_field :phone_no, placeholder: 'Enter Your Phone Number', class: 'form-control', id: 'phone_no' %>
            <i class="theme-cl ti-mobile"></i>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <% if @user.job_seeker? %>
    <div class='row'>
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <%= f.label :city, 'City'  %>
          <div class="input-with-icon">
            <%= f.text_field :city, placeholder: 'Enter Your City Name', class: 'form-control', id: 'city' %>
            <i class="theme-cl ti-location-arrow"></i>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <%= f.label :skills, 'Skills (Recommended)'  %>
          <div class="input-with-icon">
            <%= f.text_field :skills, placeholder: 'Enter Your Skills seperated by comma (e.g html, css, photoshop)', class: 'form-control', id: 'skills' %>
            <i class="theme-cl ti-star"></i>
          </div>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <%= f.label :avatar %>
          <% if @user.avatar.attached? && @user.avatar.persisted? %>
            <%= image_tag @user.avatar, class: 'img-responsive', style: 'width: 200px; display: block'  %>
            <%= link_to delete_avatar_user_path(@user), data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-trash"></i> Delete Avatar
            <% end %>
          <% end %>
          <%= f.file_field :avatar, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-12'>
        <div class='form-group'>
          <%= f.check_box :profile_visible, id: 'profile-visible-checkbox' %> Make my profile visible/searchable by Employer and Recuriters.
        </div>
      </div>
    </div>

    <div class='row' id='select-resume'>
      <div class='col-md-6'>
        <div class='form-group'>
          <%= f.label :visible_resume_name, 'Select Resume' %>
          <% options =  @user.resumes.order(created_at: :desc).includes(:blob).references(:blob).pluck(:filename, :created_at).map { |e| filename = e.first; created_at = e.last; [filename, created_at.strftime('%d/%m/%Y')].join(' - ') }%>
          <% if options.empty? %>
            <p class='alert alert-danger'>You haven't uploaded any Resume yet. Please upload your resume from <%= link_to 'Resume Page', new_user_resume_path(@user) %> and then come back and select the resume you want to make it visible.</p>
          <% end %>
          <%= f.select :visible_resume_name, options, { include_blank: '-- Select --' } , class: 'form-control', id: 'select-resume-options' %>
        </div>
      </div>
    </div>
  <% end %>

  <div class='row mrg-top-30'>
    <div class='col-md-12 col-sm-12'>
      <div class='form-group text-center'>
        <%= f.submit 'Update Profile', class: 'btn btn-primary theme-bg' %>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    if ($('#profile-visible-checkbox').is(':checked')) {
      $('#select-resume').show();
      $('#select-resume-options').attr('required', true);
      $('#phone_no').attr('required', true);
      $('#skills').attr('required', true);
      $('#city').attr('required', true);
    } else {
      $('#select-resume').hide();
      $('#select-resume-options').removeAttr('required');
      $('#phone_no').removeAttr('required');
      $('#skills').removeAttr('required');
      $('#city').removeAttr('required');
    }
 
    $('#profile-visible-checkbox').change(function() {
      if (this.checked) {
        $('#select-resume').show();
        $('#select-resume-options').attr('required', true);
        $('#phone_no').attr('required', true);
        $('#skills').attr('required', true);
        $('#city').attr('required', true);
      } else {
        $('#select-resume').hide();
        $('#select-resume-options').removeAttr('required');
        $('#phone_no').removeAttr('required');
        $('#skills').removeAttr('required');
        $('#city').removeAttr('required');
      }
    })
  });
</script>
