<div class="col-lg-9 col-md-8">
  <div class="dashboard-body">
    <div class="dashboard-caption">
      <div class="dashboard-caption-header">
        <h4><i class="ti-ruler-pencil"></i>Edit Profile</h4>
      </div>
      <div class="dashboard-caption-wrap">
        <% unless @hide_error_messages %>
          <%= render 'shared/form_error_message' %>
        <% end %>
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-9 col-md-8">
  <div class="dashboard-body">
    <div class="dashboard-caption">
      <div class="dashboard-caption-header">
        <h4><i class="ti-lock"></i>Edit Password</h4>
      </div>
      <div class="dashboard-caption-wrap">
        <%= render 'shared/form_error_message' %>
        <%= form_with url: update_password_user_path(current_user.id) do |f| %>
          <div class="form-group">
            <%= f.label :current_password  %>
            <div class="input-with-icon">
              <%= f.password_field :current_password, placeholder: 'Enter Current Password', class: 'form-control', required: true %>
              <i class="theme-cl ti-lock"></i>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password  %>
            <div class="input-with-icon">
              <%= f.password_field :password, placeholder: 'Enter Your Password', class: 'form-control', required: true %>
              <i class="theme-cl ti-lock"></i>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation  %>
            <div class="input-with-icon">
              <%= f.password_field :password_confirmation, placeholder: 'Enter Your Password', class: 'form-control', required: true %>
              <i class="theme-cl ti-lock"></i>
            </div>
          </div>
          <div class='row mrg-top-30'>
            <div class='col-md-12 col-sm-12'>
              <div class='form-group text-center'>
                <%= f.submit 'Update Password', class: 'btn btn-primary theme-bg' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
