<% @title  = "Register Account | Jobs in Nepal" %>
<!-- Title Header Start -->
<section class="inner-header-title">
  <div class="container">
    <h1>Register Account</h1>
  </div>
</section>
<div class="clearfix"></div>
<!-- Title Header End -->

<!-- Tab Section Start -->
<section class="tab-sec gray">
  <div class="container">
    <div class="col-lg-8 col-md-8 col-sm-12 col-lg-offset-2 col-md-offset-2">
      <div class="new-logwrap">
        <ul class="nav modern-tabs nav-tabs theme-bg" id="simple-design-tab">
          <li class="<%= @tab == 'job_seeker' ? 'active' : '' %>"><a href="#candidate">Job Seeker</a></li>
          <li class="<%= @tab == 'employer' ? 'active' : '' %>"><a href="#employer">Employer</a></li>
        </ul>
        <div class="tab-content">
          <div id="candidate" class="tab-pane fade <%= @tab == 'job_seeker' ? 'in active' : '' %>">
            <%= render "shared/form_error_message" %>
            <%= render "form" %>

            <div class="social-devider">
              <span class="line"></span>
            </div>
          </div>

          <div id="employer" class="tab-pane fade <%= @tab == 'employer' ? 'in active' : '' %>">
            <%= render "shared/form_error_message" %>
            <%= form_with model: @company, local: true do |f| %>
              <div class="form-group">
                <%= f.label :name, 'Business Name' %>
                <div class="input-with-icon">
                  <%= f.text_field :name, placeholder: 'Enter Business Name', class: 'form-control', required: true %>
                  <i class="theme-cl ti-home"></i>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :phone, 'Business Phone Number' %>
                <div class="input-with-icon">
                  <%= f.text_field :phone, placeholder: 'Enter Business Phone Number', class: 'form-control', required: true %>
                  <i class="theme-cl ti-mobile"></i>
                </div>
              </div>

              <%= f.fields_for :users, @company.users.build do |user| %>
                <div class="form-group">
                  <%= user.label :first_name %>
                  <div class="input-with-icon">
                    <%= user.text_field :first_name, placeholder: 'Enter First Name', class: 'form-control', required: true %>
                    <i class="theme-cl ti-user"></i>
                  </div>
                </div>
                <div class="form-group">
                  <%= user.label :last_name %>
                  <div class="input-with-icon">
                    <%= user.text_field :last_name, placeholder: 'Enter Last Name', class: 'form-control', required: true %>
                    <i class="theme-cl ti-user"></i>
                  </div>
                </div>
                <div>
                </div>
                <div class="form-group">
                  <%= user.label :email %>
                  <div class="input-with-icon">
                    <%= user.email_field :email, placeholder: 'Enter Your Email', class: 'form-control', required: true %>
                    <i class="theme-cl ti-email"></i>
                  </div>
                </div>
                <div class="form-group">
                  <%= user.label :password %>
                  <div class="input-with-icon">
                    <%= user.password_field :password, placeholder: 'Enter Your Password (Minimum 8 characters)', class: 'form-control', required: true %>
                    <i class="theme-cl ti-lock"></i>
                  </div>
                </div>
                <div class="form-group">
                  <%= user.label :password_confirmation %>
                  <div class="input-with-icon">
                    <%= user.password_field :password_confirmation, placeholder: 'Enter Your Password (Minimum 8 characters)', class: 'form-control', required: true %>
                    <i class="theme-cl ti-lock"></i>
                  </div>
                </div>
                <div class="register-account text-center">
                  By hitting the <span class="theme-cl">"Register"</span> button, you agree to the <a class="theme-cl" href="#">Terms conditions</a> and <a class="theme-cl" href="#">Privacy Policy</a>
                </div>
              <% end %>
              <div class="form-groups">
                <%= f.submit 'Register', class: 'btn btn-primary theme-bg full-width' %>
              </div>
              <div class="social-devider">
                <span class="line"></span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Tab section End -->

