<div class="col-lg-3 col-md-4">
  <div class="side-dashboard">
    <div class="dashboard-avatar">
      <div class="dashboard-avatar-thumb">
        <% if current_user.company&.logo&.attached? %>
          <%= image_tag current_user.company.logo, class: 'img-avatar' %>
        <% else %>
          <%= image_tag 'https://via.placeholder.com/150', class: 'img-avater' %>
        <% end %>
      </div>
      <div class="dashboard-avatar-text">
        <h4><%= current_user.full_name %></h4>
        <% if current_user.company.present? %>
          <span><%= current_user.company.name %></span>
        <% end %>
      </div>
    </div>

    <div class="dashboard-menu">
      <ul>
        <li class="<%= controller.controller_name == 'dashboards' && controller.action_name == 'index' ? 'active' : '' %>">
          <%= link_to dashboards_path do %>
            <i class="ti-ruler-pencil"></i>Dashboard
          <% end %>
        </li>
        <% if current_user.admin? || current_user.employer? %>
          <li class="<%= controller.controller_name == 'jobs' && controller.action_name == 'new' ? 'active' : '' %>">
            <%= link_to new_job_path do %>
              <i class="ti-ruler-pencil"></i>Post New Job
            <% end %>
          </li>
        <% end %>
        <li class="<%= controller.controller_name == 'users' && controller.action_name == 'edit' ? 'active' : '' %>">
          <%= link_to edit_user_path(current_user) do %>
            <i class="ti-user"></i>Edit Profile
          <% end %>
        </li>
        <% if current_user.employer? %>
          <li class="<%= controller.controller_name == 'companies' && controller.action_name == 'edit' ? 'active' : '' %>">
            <%= link_to edit_company_path(current_user.company) do %>
              <i class="ti-home"></i>Edit Company
            <% end %>
          </li>
        <% end %>
    </div>
  </div>
</div>
