<%# TODO: remove this when we have lots of jobs and candiates and uncomment this to show newsletter form and some stats %>
<!-- ============================ before footer ================================== -->
<!-- <div class="before&#45;footer"> -->
<!--   <div class="container"> -->
<!--     <div class="row"> -->
<!--       <div class="col&#45;md&#45;6 col&#45;sm&#45;6"> -->
<!--         <div class="jb4&#45;form&#45;fields"> -->
<!--           <div class="input&#45;group"> -->
<!--             <input type="email" class="form&#45;control" placeholder="enter your email address"> -->
<!--             <span class="input&#45;group&#45;btn"> -->
<!--                   <button class="btn theme&#45;bg" type="submit"><span class="fa fa&#45;paper&#45;plane&#45;o"></span></button> -->
<!--             </span> -->
<!--           </div> -->
<!--         </div> -->
<!--       </div> -->
<!--       <div class="col&#45;md&#45;6 col&#45;sm&#45;6 hill"> -->
<!--         <ul class="job stock&#45;facts"> -->
<!--           <li><span>2744</span></br>jobs posted</li> -->
<!--           <li><span>2365</span></br>jobs posted</li> -->
<!--           <li><span>2021</span></br>freelancer</li> -->
<!--           <li><span>7542</span></br>companies</li> -->
<!--         </ul> -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->
<!-- ============================ before footer ================================== -->

<!-- ============================ footer start ================================== -->
<footer class="dark-footer skin-dark-footer">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <div class="footer-widget">
            <%= image_tag 'logo-white.png', class: 'img-footer' %>
            <div class="footer-add">
              <p>Gaushala, Kathmandu</br> Nepal.</p>
              <p><strong>email:</strong></br><span>info@jobsinnepal.com</span></p>
              <!-- <p><strong>call:</strong></br>91 855 742 62548</p> -->
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2">
          <div class="footer-widget">
            <h4 class="widget-title">Job Seekers</h4>
            <ul class="footer-menu">
              <li><%= link_to 'Register', new_user_path(tab: 'job_seeker') %></li>
              <li><%= link_to 'Login', login_path %></li>
              <li><%= link_to 'Categories', categories_path %></li>
              <% if current_user && current_user.job_seeker?%>
                <li><%= link_to 'Dashboard', user_dashboards_path(current_user) %></li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="col-lg-2 col-md-2">
          <div class="footer-widget">
            <h4 class="widget-title">Employers</h4>
            <ul class="footer-menu">
              <li><%= link_to 'Register', new_user_path(tab: 'employer') %></li>
              <li><%= link_to 'Login', login_path %></li>
              <% if current_user && current_user.employer? %>
                <li><%= link_to 'Dashboard', user_dashboards_path(current_user) %></li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="col-lg-2 col-md-2">
          <div class="footer-widget">
            <h4 class="widget-title">Top Categories</h4>
            <ul class="footer-menu">
              <% @top_categories.each do |top_category| %>
                <li><%= link_to top_category, jobs_path(category: top_category) %></li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-3">
          <div class="footer-widget">
            <h4 class="widget-title">Payment Methods</h4>
            <a href="#" class="other-store-link">
              <div class="other-store-app">
                <div class="os-app-icon">
                  <!-- <i class="ti&#45;android theme&#45;cl"></i> -->
                </div>
                <div class="os-app-caps">
                  Payment with Esewa 
                  <span>(Coming Soon)</span>
                </div>
              </div>
            </a>
            <a href="#" class="other-store-link">
              <div class="other-store-app">
                <div class="os-app-icon">
                  <!-- <i class="ti&#45;apple theme&#45;cl"></i> -->
                </div>
                <div class="os-app-caps">
                  Payment with Khalti
                  <span>(Comming Soon)</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6">
          <p class="mb-0">© 2021 <span>jobsinnepal.com.</span> All rights reserved</p>
        </div>
        <%# TODO: uncomment this when we have social media presence %>
        <!-- <div class="col&#45;lg&#45;6 col&#45;md&#45;6 text&#45;right"> -->
        <!--   <ul class="footer&#45;bottom&#45;social"> -->
        <!--     <li><a href="#"><i class="ti&#45;facebook"></i></a></li> -->
        <!--     <li><a href="#"><i class="ti&#45;twitter"></i></a></li> -->
        <!--     <li><a href="#"><i class="ti&#45;instagram"></i></a></li> -->
        <!--     <li><a href="#"><i class="ti&#45;linkedin"></i></a></li> -->
        <!--   </ul> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</footer>
