<nav class="navbar navbar-default navbar-fixed navbar-light white bootsnav">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
      <i class="fa fa-bars"></i>
    </button>
    <!-- start header navigation -->
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <%= link_to(image_tag('logo.png'), root_path, class: 'logo logo-scrolled') %>
      </a>
    </div>

    <!-- collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="nav navbar-nav navbar-left" data-in="fadeindown" data-out="fadeoutup">
        <li class='active'>
          <%= form_with url: jobs_path, method: :get, local: true do |f| %>
            <%= f.text_field :title, placeholder: 'Enter Job Title', class: 'form-control' %>
          <% end %>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" data-in="fadeindown" data-out="fadeoutup">
        <% if current_user %>
          <li>
            <%= link_to user_dashboards_path(current_user) do %>
              <i class="fa fa-tachometer"></i>dashboard
            <% end %>
          </li>
          <li>
            <%= link_to logout_path do %>
              <i class="fa fa-sign-out"></i>sign out
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to login_path do %>
              <i class="fa fa-sign-out"></i>sign in 
            <% end %>
          </li>
        <% end %>
        <% if current_user && (current_user.admin? || current_user.employer?) %>
          <li class='left-br'><%= link_to 'post a job', new_job_path, class: 'signin' %></li>
        <% else %>
          <li class='left-br'><%= link_to 'sign up', new_user_path(tab: 'job_seeker'), class: 'signin' %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
<!-- end navigation -->

