<nav class="navbar navbar-default navbar-fixed navbar-light white bootsnav">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
      <i class="fa fa-bars"></i>
    </button>
    <!-- start header navigation -->
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <%= link_to(image_tag('logo.png'), root_path, class: 'logo logo-scrolled') %>
      </a>
    </div>

    <!-- collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="nav navbar-nav navbar-left" data-in="fadeindown" data-out="fadeoutup">
        <li class='active'>
          <%= form_with url: jobs_path, method: :get, local: true do |f| %>
            <%= f.text_field :title, placeholder: 'Enter Job Title', class: 'form-control' %>
          <% end %>
        </li>
        <li class="dropdown">
          <a href="login.html" class="dropdown-toggle" data-toggle="dropdown">home</a>
          <ul class="dropdown-menu animated fadeoutup">
            <li><a href="index.html">home page 1</a></li>
            <li><a href="index-2.html">home page 2</a></li>
            <li><a href="index-3.html">home page 3</a></li>
            <li><a href="index-4.html">home page 4</a></li>
            <li><a href="index-5.html">home page 5</a></li><li><a href="index-6.html">home page 6</a></li>
            <li><a href="freelancing.html">freelancing</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="login.html" class="dropdown-toggle" data-toggle="dropdown">jobs</a>
          <ul class="dropdown-menu animated fadeoutup">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">job listing</a>
              <ul class="dropdown-menu animated fadeoutup">
                <li><a href="browse-jobs.html">browse jobs</a></li>
                <li><a href="browse-jobs-list.html">browse jobs with sidebar</a></li>
                <li><a href="browse-jobs-grid.html">job in grid</a></li>
                <li><a href="search-new.html">search job</a></li>
                <li><a href="popular-jobs.html">popular jobs</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">job detail</a>
              <ul class="dropdown-menu animated fadeoutup">
                <li><a href="job-detail-1.html">job detail 1</a></li>
                <li><a href="job-detail-2.html">job detail 2</a></li>
                <li><a href="job-detail-3.html">job detail 3</a></li>
                <li><a href="advance-search.html">advance search job</a></li>
                <li><a href="advance-search-2.html">advance search job 2</a></li>
              </ul>
            </li>
            <li><a href="job-with-map.html">job with map</a></li>
            <li><a href="register.html">signup page</a></li>
            <li><a href="dashboard/index.html">dashboard</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" data-in="fadeindown" data-out="fadeoutup">
        <% if current_user %>
          <li>
            <%= link_to user_dashboards_path(current_user) do %>
              <i class="fa fa-tachometer"></i>dashboard
            <% end %>
          </li>
          <li>
            <%= link_to logout_path do %>
              <i class="fa fa-sign-out"></i>sign out
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to login_path do %>
              <i class="fa fa-sign-out"></i>sign in 
            <% end %>
          </li>
        <% end %>
        <% if current_user && (current_user.admin? || current_user.employer?) %>
          <li class='left-br'><%= link_to 'post a job', new_job_path, class: 'signin' %></li>
        <% else %>
          <li class='left-br'><%= link_to 'sign up', new_user_path(tab: 'job_seeker'), class: 'signin' %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
<!-- end navigation -->

