<div class="col-lg-9 col-md-8">
  <div class="dashboard-body">
    <div class="dashboard-caption">
      <div class="dashboard-caption-header">
        <h4><i class="fa fa-briefcase"></i>Edit Work Experiences</h4>
      </div>
      <div class="dashboard-caption-wrap">
        <%= render 'shared/error_messages', object: @user %>
        <%= form_with model: @user, local: true do |f| %>
          <div id='work_experiences'>
            <%= f.fields_for :work_experiences do |work_experience| %>
              <%= render 'work_experiences/work_experience_fields', f: work_experience %>
            <% end %>
            <div class='links'>
              <%= link_to_add_association  f, :work_experiences, partial: 'work_experiences/work_experience_fields', class: 'btn btn-primary' do %>
                <i class="fa fa-plus"></i> Add Work Experience
              <% end %>
            </div>
          </div>
          <div class='row mrg-top-30'>
            <div class='col-md-12 col-sm-12'>
              <div class='form-group text-center'>
                <%= f.submit 'Update Work Experience', class: 'btn btn-primary theme-bg foo' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
