<% if jobs.present? %>
  <% jobs.each do |job| %>
    <div class="col-md-3 col-sm-6">
      <div class="job-instructor-layout">
        <% if job.created_at.today? %>
          <span class="tg-themetag tg-featuretag">New Job</span>
        <% end %>
        <% if job.job_type == 1 or job.job_type == 2 %>
          <span class="tg-themetag tg-featuretag"><%= Job::JOB_TYPE.key(job.job_type) %></span>
        <% end %>

        <div class="brows-job-type"><span class="freelanc"><%= job.employment_type %></span></div>
        <div class="job-instructor-thumb">
          <% if job.created_by_admin? %>
            <%= image_tag '150.png', class: 'img-fluid', alt: 'Company Logo' %>
          <% elsif job.user.company.logo.attached? %>
            <%= image_tag job.user.company.logo, class: 'img-fluid img-logo', alt: "#{job.user.company.name} Logo" %>
          <% else %>
            <%= image_tag '150.png', class: 'img-fluid', alt: 'Company Logo' %>
          <% end %>
        </div>
        <div class="job-instructor-content">
          <h2 class="instructor-title"><%= link_to(job.title.truncate(25), job) %></h2>
          <h3 class="instructor-title">
            <% if job.created_by_admin?  %>
              <%= job.company_name.truncate(25) %>
            <% else %>
              <%= job.user.company.name.truncate(25) %>
            <% end %>
          </h3>
          <div class="instructor-skills">
            <h5 class="instructor-scount"><%= job.full_salary %></h5>
          </div>
        </div>
        <div class="job-instructor-footer">
          <div class="instructor-students">
          </div>
          <div class="instructor-corses">
            <span class="c-counting"><%= job.location.truncate(30) %></span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="main-heading">
    <h2>Coming <span>Soon</span></h2>
  </div>
<% end %>
