<div class="banner trans" style="background-image:url(http://via.placeholder.com/1920x850);" data-overlay="6">  
  <div class="container">
    <div class="banner-caption">
      <div class="col-md-12 col-sm-12 banner-text">
        <div class="full-search-2 eclip-search italian-search hero-search-radius">
          <div class="hero-search-content">
            <div class="row">
              <%= form_with url: jobs_path, method: :get, local: true do |f| %>
                <div class="col-lg-4 col-md-4 col-sm-12 small-padd b-r">
                  <div class="form-group">
                    <div class="input-with-icon">
                      <%= f.text_field :title, placeholder: 'Enter Job Title', class: 'form-control' %>
                      <i class="ti-search"></i>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 small-padd b-r">
                  <div class="form-group">
                    <div class="input-with-icon">
                      <%= f.select :category, Category::LIST.keys.sort, { prompt: '-- Select --' }, class: 'form-control' %>
                      <i class="ti-layers"></i>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 small-padd b-r">
                  <div class="form-group">
                    <div class="input-with-icon">
                      <%= f.text_field :location, placeholder: 'Enter City Name', class: 'form-control' %>
                      <i class="ti-location-arrow"></i>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 small-padd">
                  <div class="form-group">
                    <div class="form-group">
                      <%= f.submit 'Search', class: 'btn btn-primary search-btn' %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Job List-->
<section>
  <div class="container">

    <div class="row">
      <div class="main-heading">
        <h2>New <span>Jobs</span></h2>
      </div>
    </div>
    <!--/row-->

    <!--Browse Job In Grid-->
    <div class="row extra-mrg">
      <% @jobs.each do |job| %>
        <div class="col-md-3 col-sm-6">
          <div class="job-instructor-layout">
            <% if job.created_at.today? %>
              <span class="tg-themetag tg-featuretag">New Job</span>
            <% end %>
            <div class="brows-job-type"><span class="freelanc"><%= job.employment_type %></span></div>
            <div class="job-instructor-thumb">
              <a href="job-detail-2.html"><%#= image_tag 'com-2', class: 'img-fluid' %></a>
              <% if job.created_by_admin? %>
                <%= image_tag 'https://via.placeholder.com/150', class: 'img-fluid' %>
              <% elsif job.user.company.logo.attached? %>
                <%= image_tag job.user.company.logo, class: 'img-fluid' %>
              <% else %>
                <%= image_tag 'https://via.placeholder.com/150', class: 'img-fluid' %>
              <% end %>
            </div>
            <div class="job-instructor-content">
              <h4 class="instructor-title"><%= link_to(job.title, job) %></h4>
              <h5 class="instructor-title">
                <% if job.created_by_admin?  %>
                  <%= job.company_name %>
                <% else %>
                  <%= job.user.company.name %>
                <% end %>
              </h5>
              <div class="instructor-skills">
                <h5 class="instructor-scount"><%= job.salary %></h5>
              </div>
            </div>
            <div class="job-instructor-footer">
              <div class="instructor-students">
              </div>
              <div class="instructor-corses">
                <span class="c-counting"><%= job.location %></span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="text-center">
            <%= link_to 'Show All Jobs', jobs_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Latest Job End-->
