<p>Hi <%= @user.first_name %>,</p>

<p>Your application for <strong><%= @job.title %></strong> has been viewed by <strong><%= @job.user.company.name %></strong>.</p>

<p>Each employer has their own recruitment process so you may or may not hear back from them. 
You can keep track of all your applied jobs on your <%= link_to('Applied Jobs', applied_jobs_user_url(@user)) %> page.</p>

<hr>
<p>Here’s a summary of the job you applied for on <%= @applicant.created_at.strftime("%d/%m/%Y") %></p>

<p>Job Title: <%= link_to(@job.title, @job) %></p>
<p>Company Name: <%= @job.user.company.name %></p>
<p>Company Location: <%= @job.location %></p>
<hr>

<pre>
with Regards
Jobs in Nepal
www.jobsinnepal.com
info@jobsinnepal.com
</pre>

