<div class="col-lg-9 col-md-8">
  <div class="dashboard-body">
    <div class="dashboard-caption">
      <div class="dashboard-caption-header">
        <h4><i class="ti-lock"></i>Edit Company Details</h4>
      </div>
      <div class="dashboard-caption-wrap">
        <%= render 'shared/form_error_message' %>
        <%= form_with model: @company do |f| %>
          <div class='row'>
            <div class='col-md-6 col-sm-6'>
              <div class="form-group">
                <%= f.label :name, 'Business Name'  %>
                <div class="input-with-icon">
                  <%= f.text_field :name, placeholder: 'Enter Business Name', class: 'form-control', required: true %>
                  <i class="theme-cl ti-home"></i>
                </div>
              </div>
            </div>
            <div class='col-md-6 col-sm-6'>
              <div class="form-group">
                <%= f.label :phone, 'Business Phone Number'  %>
                <div class="input-with-icon">
                  <%= f.text_field :phone, placeholder: 'Enter Business Phone Number', class: 'form-control', required: true %>
                  <i class="theme-cl ti-mobile"></i>
                </div>
              </div>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-12 col-sm-12'>
              <div class="form-group">
                <%= f.label :url, 'Business URL'  %>
                <div class="input-with-icon">
                  <%= f.text_field :url, placeholder: 'Enter Business URL', class: 'form-control' %>
                  <i class="theme-cl ti-world"></i>
                </div>
              </div>
            </div>
          </div>
            <div class='row'>
            <div class='col-md-12 col-sm-12'>
              <div class="form-group">
                <%= f.label :logo, 'Business Logo'  %>
                <div class="input-with-icon">
                  <% if @company.logo.attached? %>
                    <%= image_tag @company.logo, class: 'img-responsive', style: 'width: 200px; display: block'  %>
                    <%= @company.logo.filename %>
                  <% end %>
                  <%= f.file_field :logo, class: 'form-control' %>
                  <i class="theme-cl ti-shield"></i>
                </div>
              </div>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-12 col-sm-12'>
              <div class="form-group">
                <%= f.label :description  %>
                <div>
                  <%= f.text_area :description, placeholder: 'Enter Description About Company', rows: 10, class: 'form-control' %>
                </div>
              </div>
            </div>
          </div>
          <div class='row mrg-top-30'>
            <div class='col-md-12 col-sm-12'>
              <div class='form-group text-center'>
                <%= f.submit 'Update Company Detail', class: 'btn btn-primary theme-bg' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
