<div class="col-lg-9 col-md-8">
  <div class="dashboard-body">
    <div class="dashboard-caption">
      <div class="dashboard-caption-header">
        <h4><i class="ti-lock"></i>Edit Educations</h4>
      </div>
      <div class="dashboard-caption-wrap">
        <%= render 'shared/form_error_message' %>
        <%= form_with model: @user do |f| %>
          <div id='educations'>
            <%= f.fields_for :educations do |education| %>
              <%= render 'education_fields', f: education %>
            <% end %>
            <div class='links'>
              <%= link_to_add_association  f, :educations, class: 'btn btn-primary' do %>
                <i class="fa fa-plus"></i> Add Education
              <% end %>
            </div>
          </div>
          <div class='row mrg-top-30'>
            <div class='col-md-12 col-sm-12'>
              <div class='form-group text-center'>
                <%= f.submit 'Update Education', class: 'btn btn-primary theme-bg foo' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
