<div class="col-lg-9 col-md-8">
  <div class="dashboard-body">
    <div class="dashboard-caption">
      <div class="dashboard-caption-header">
        <h4><i class="fa fa-file"></i>Resumes</h4>
      </div>
      <div class="dashboard-caption-wrap">
        <%= render 'shared/error_messages', object: @user %>
        <% if @trying_to_delete_visible_resume %>
          <p class='alert alert-danger'>You are trying to delete Resume which is attached to your profile. In order to delete this resume you can go to <%= link_to 'Profile Page', edit_user_path(@user) %>
          and select another resume to be visible or you can make your profile invisible to Employers/Recuriters.
          </p>
        <% end %>

        <p class='alert alert-info'>You can upload upto 10 Resumes. If you upload more than 10 resumes than older resumes will be automatically deleted.</p>
        <% if @user.resumes.attached? %>
          <p><%= @user.resumes.count %> Resume Found</p>
        <% else %>
          <p>No Resume Found.</p>
        <% end %>
        <div class='row'>
          <div class='col-md-6'>
              <% @resumes.select.each_with_index { |_, i| i.even? }.each do |resume| %>
                <div class='statistic-item'>
                  <%= link_to resume.filename, download_user_resume_path(@user, resume), class: 'resume' %>
                  <div>
                    <%= link_to download_user_resume_path(@user, resume), class: 'btn btn-primary download-btn', title: 'Download' do %>
                      <i class="fa fa-download"></i>
                    <% end %>
                    <%= link_to user_resume_path(@user, resume), method: :delete, data: { confirm: 'Are you sure ?' }, class: 'btn btn-danger', title: 'Delete' do %>
                      <i class="fa fa-trash"></i>
                    <% end %>
                  </div>
                </div>
              <% end %>
          </div>
          <div class='col-md-6'>
            <% @resumes.select.each_with_index { |_, i| i.odd? }.each do |resume| %>
              <div class='statistic-item'>
                <%= link_to resume.filename, download_user_resume_path(@user, resume), class: 'resume' %>
                <div>
                  <%= link_to download_user_resume_path(@user, resume), class: 'btn btn-primary download-btn', title: 'Download' do %>
                    <i class="fa fa-download"></i>
                  <% end %>
                  <%= link_to user_resume_path(@user, resume), method: :delete, data: { confirm: 'Are you sure ?' }, class: 'btn btn-danger', title: 'Delete' do %>
                    <i class="fa fa-trash"></i>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <%= form_with model: @user, url: user_resumes_path(@user), method: :post, local: true do |f| %>
            <div class='row'>
              <div class='col-md-12 col-sm-12'>
                <div class='statistic-item'>
                  <%= f.file_field :resume, class: 'form-control file-field' %>
                </div>
              </div>
            </div>
            <div class='row mrg-top-30'>
              <div class='col-md-12 col-sm-12'>
                <div class='form-group text-center'>
                  <%= f.submit 'Upload Resume', class: 'btn btn-primary theme-bg' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>