<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || 'Jobs in Nepal - Job Vacancies in Nepal | Jobs in Nepal' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'plugins', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V4GREBGHMZ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-V4GREBGHMZ');
    </script>

    <%= favicon_link_tag 'favicon.ico' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>

  <body>
    <%= render 'shared/flash_message' %>
    <div class="wrapper">
      <%= render 'shared/navigation' %>
      <div class="clearfix"></div>
    </div>

    <section class="dashboard-wrap">
      <div class="container-fluid">
        <div class="row">
          <%= render "shared/dashboard_navigation" %>
          <%= yield %>
        </div>
      </div>
    </section>

    <%= render 'shared/footer' %>
    <%= render 'shared/scripts' %>
  </body>
</html>
